@import "../themes.scss";

@include nb-install-component {
  background: nb-theme(background-basic-color);
}

.ai-logo {
  max-height: 50px;
}

.ai-text {
  font-size: 1rem;
  font-weight: 150;
  margin-left: 1rem;
  font-family: nb-theme(font-family-primary);
  color: nb-theme(text-basic-color);
}
