<nb-layout>

  <nb-layout-header fixed>
    <div class="header-container">
      <a href="/"><img src="assets/logo_grey.png" alt="logo" class="ai-logo"></a>
      <!-- Add the "View Recordings" button if the user is an admin -->
      <button
        *ngIf="isAdmin"
        nbButton
        status="info"
        size="small"
        (click)="this.theRouter.navigate(['/user-recordings']);">
        Hello Admin, View Recordings
      </button>
      <span *ngIf="isLoggedIn" class="welcome-text">
        Welcome, {{ userName }}
        <button
          nbButton
          status="danger"
          size="small"
          (click)="logout()">
          Logout
        </button>
      </span>
    </div>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <p class="ai-text">Prasannjeet Singh - ps222vt@student.lnu.se - This quiz is created as part of the Master's
      Thesis</p>
  </nb-layout-footer>

</nb-layout>
