nb-progress-bar ~ nb-progress-bar {
  margin-top: 1rem;
}

img {
  max-height: 184px;
  padding: 10px;
  //max-width: 100%; /* scale images proportionally */
  object-fit: contain;
  max-width: 200px;
}

.ai-image-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ai-question-image-group-container {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ai-question-text {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding: 10px;
  max-height: 50px;
  background-color: #7b51db;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}

.ai-image-container {
  //margin: 5px; /* adjust to your desired spacing */
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  align-items: center;
}

.ai-card-1 {
  flex: 1 0 50%;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.ai-card-2 {
  flex: 1 0 50%;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.ai-outer-card {
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

nb-progress-bar {
  width: 100%;
}

nb-card-body {
  display: flex;
}

.ai-main-card {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
}

nb-card-footer {
  display: flex;
}

nb-layout {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}
