<nb-card class="ai-main-card">
  <nb-card-header style="display: flex">
    Question {{ currentQuestion + 1 }}
    <button style="margin-left: auto" nbButton status="danger" (click)="refreshPage()">Reset</button>
    <button nbButton (click)="nextQuestion()">Next</button>
  </nb-card-header>
  <nb-card-body class="ai-outer-card">
    <nb-card class="ai-card-1">
      <nb-card-body class="ai-question-text">
        Find out the next image in this sequence. Choose one option from the right.
      </nb-card-body>
      <nb-card-body>
      <div class="ai-question-image-group-container">
        <div class="ai-image-container"
             *ngFor="let image of getTheCurrentQuestionImages()"
             [ngStyle]="{'flex-basis': getTheCurrentQuestionOptions().length > 6 ? 'calc(20% - 10px)' : 'calc(33.33% - 10px)'}"
             [style.background-color]="'transparent'">
          <img [src]="image" alt="questions">
        </div>
      </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="ai-card-2">
      <nb-card-body>
        <div class="ai-image-group-container">
          <div class="ai-image-container"
               *ngFor="let option of getTheCurrentQuestionOptions()"
               [ngStyle]="{'flex-basis': getTheCurrentQuestionOptions().length > 6 ? 'calc(20% - 10px)' : 'calc(33.33% - 10px)'}"
               [style.background-color]="selectedOption === option ? 'blue' : 'transparent'"
               (click)="selectOption(option)">
            <img [src]="option" alt="option">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
  <nb-card-footer>
    <nb-progress-bar [value]="getProgressBarValue()" [status]="getStatus()" size="giant">
      <nb-icon icon="clock-outline" [options]="{ animation: { type: 'pulse', infinite: true } }"></nb-icon>
      <div class="text-center">{{ getTimerValue() }}</div>
    </nb-progress-bar>
  </nb-card-footer>
</nb-card>

<!--               [ngStyle]="{'flex-basis': getTheCurrentQuestionOptions().length > 6 ? 'calc(20% - 10px)' : 'calc(33.33% - 10px)'}"-->
