<nb-card status="success">
  <nb-card-header>
    <h5>Welcome to the AiMentalAcoustics Quiz!</h5>
  </nb-card-header>
  <nb-card-body>
    Thank you for participating in this research project. Your contribution will help us develop AI-assisted methods for
    identifying, detecting, and predicting mental health based on voice and EEG data.
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h5>About the Quiz</h5>
  </nb-card-header>
  <nb-card-body>
    <p>This quiz involves logical reasoning tests related to pattern recognition. During the test, we will record your
      brain activity and voice. The data, stripped of personal identifiers and replaced with unique IDs, will be used
      for future brain-voice connection analysis.</p>
    <p>The potential risks of participating in this project are minimal and may include mild physical discomfort from
      wearing the EEG equipment, mental fatigue, and stress. However, we will ensure a comfortable environment for the
      test, and the equipment is non-invasive.</p>
    <p>Your data will be confidential and only accessible to the research team. After the research, your data will be
      de-identified and can no longer be traced back to you. Your participation is voluntary, and you can choose to
      withdraw at any time.</p>
  </nb-card-body>
  <nb-card-footer>Ai Mental Acoustics Quiz</nb-card-footer>
</nb-card>

<nb-card>
  <nb-card-body>
    <button
      nbButton
      status="info"
      routerLink="/terms"
    >
      Start the Quiz!
    </button>
  </nb-card-body>
</nb-card>
