<nb-card status="success">
  <nb-card-header>
    <h5>Welcome to the Quiz!</h5>
  </nb-card-header>
  <nb-card-body>
    Thank you for taking the time to complete this quiz.
    Your contribution will help us in our research.
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h5>About the quiz</h5>
  </nb-card-header>
  <nb-card-body>
    <p>Quiz description here</p>
    <p>Quiz description here</p>
    <p>Quiz description here</p>
  </nb-card-body>
  <nb-card-footer>Ai Mental Acoustics Quiz</nb-card-footer>
</nb-card>

<nb-card>
  <nb-card-body>
    <button
      nbButton
      status="info"
      routerLink="/quiz"
    >
      Start the Quiz!
    </button>
  </nb-card-body>
</nb-card>
