@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.layout-container {
  height: 100vh;
  overflow: hidden;
}

.content {
  height: 80vh;
}
